.header {
  background: linear-gradient(to right, #920D65, #D81C98);
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.header__nav {
  display: flex;
  align-items: center;
  max-width: 90%;
  padding: 12px 100px;
  width: 100%;
  gap: 60px;
}

.header__logo {
  margin-right: auto;
  font-weight: 800;
  font-size: 1.6rem;
  height: 100%;
  transform: scale(1.8);
  color: #fff;
}

.header__link {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: 100ms;
}

.header__link:hover {
  background-color: #00000030;
}

.header__link:last-of-type {
  display: flex;
}

.header__link:last-of-type:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  margin-left: 12px;
  transform: translateY(3px) rotate(45deg);
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
