@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

*::before, *::after {
  box-sizing: inherit;
}

html, body {
  min-height: 100vh;
}

#root {
  display: flex;
  align-items: center;
}

.App {
  align-items: center;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App h2 {
  display: flex;
  font-size: 1.15rem;
  margin-bottom: 30px;
  position: relative;
}

.App h2::after {
  content: '';
  position: absolute;
  width: 80px;
  bottom: -8px;
  border-top: 3px solid #2665FE;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: indigo;
}

body {
  background-color: #FCFCFC;
}

/* @media screen and (max-width: 960px) {
  .header__link, .header__link:after, .header__link:before {
    display: none;
  }
} */

@media screen and (max-width: 720px) {
  .App h2 {
    justify-content: center;
    align-self: center;
    text-align: center;
  }
}
